<div class="container">

  <!--  Boot loading-->
  <app-init-screen
    *ngIf="screen === 'init-screen'"
    (onClickBtnEvent)="onClickBtnInitScreen()"
  >
  </app-init-screen>

  <!--  Boot loading-->
  <app-loading-screen
    *ngIf="screen === 'boot-loading'"
    (loadingFinishEvent)="onBootLoadingFinished()"
  >
  </app-loading-screen>

  <!--  Flicker screen-->
  <app-flicker-screen
    *ngIf="isFlickerScreen()"
    (flickerScreenFinishEvent)="onFlickerScreenFinished()"
  >
  </app-flicker-screen>

  <!--  Welcome screen-->
  <app-welcome-screen
    [imgLoadFinish]="welcomeScreenImgLoadFinish"
    [isWelcomeScreen]="screen === 'welcome-screen'"
    (imgLoadFinishEvent)="onWelcomeScreenImgLoadFinish()"
    (welcomeScreenFinishEvent)="onWelcomeScreenFinished()"
  >
  </app-welcome-screen>

  <!--  Desktop screen-->
  <app-desktop-screen
    [imgLoadFinish]="desktopScreenImgLoadFinish"
    [isDesktopScreen]="screen === 'desktop-screen'"
    (imgLoadFinishEvent)="onDesktopScreenImgLoadFinish()"
  >
  </app-desktop-screen>

</div>
