<div class="container">

  <!--  Boot loading-->
  <app-loading-screen
    *ngIf="screen === 'boot-loading'"
    (loadingFinishEvent)="onBootLoadingFinished()"
  >
  </app-loading-screen>

  <!--  Flicker screen-->
  <app-flicker-screen
    *ngIf="isFlickerScreen()"
    (flickerScreenFinishEvent)="onFlickerScreenFinished()"
  >
  </app-flicker-screen>

  <!--  Welcome screen-->
  <app-welcome-screen
    [imgLoadFinish]="welcomeScreenImgLoadFinish"
    [isWelcomeScreen]="screen === 'welcome-screen'"
    (imgLoadFinishEvent)="onWelcomeScreenImgLoadFinish()"
    (welcomeScreenFinishEvent)="onWelcomeScreenFinished()"
  >
  </app-welcome-screen>

</div>
